*.swp
conflict-files-obsidian-git.md
.obsidian/**/*.json
.obsidian/workspace.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/hotkeys.json
